<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>R1</title>
    <link rel="stylesheet" href="assets/estilos/styles.css">
</head>
<body>
    <header>
        <h1>TITULO</h1>
        <nav>
            <ul>
                
                <li><a href="../tutorial/tutorial.html">Tutoriales</a></li>
                <li><a href="../articulos/articulos.html">Articulos</a></li>
                <li><a href="../c_exito/casos_de_exitos.html">Casos de exito</a></li>
                <li><a href="../../index.html">home</a></li>
            </ul>
        </nav>
    </header>

    <section>
        <h1>TITULO</h1>
        <img src="#" alt="Image">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis culpa iure cum commodi quisquam!
            Quos voluptatibus earum ducimus et architecto aliquid, consectetur sint nostrum repudiandae,
            tempora alias perspiciatis animi eaque.</p>
    </section>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatum soluta repellendus eveniet error,
        quos exercitationem dignissimos provident reprehenderit id rerum possimus nostrum totam voluptates eius sunt
        maxime quasi voluptas repellat eligendi aliquam eum sequi blanditiis ab? Atque, commodi id eligendi veniam
        consequuntur ipsa corrupti ipsam iste nulla consectetur quidem cumque deserunt molestias velit quos, pariatur
        officia, vero laboriosam? Eaque, obcaecati iure quam commodi doloribus esse sed molestias fuga dolore consequuntu
        reprehenderit unde explicabo, maiores architecto similique ipsa illo fugiat corrupti provident accusamus quasi quas amet?
        Ad velit voluptatem eum similique, nesciunt aspernatur, nam magni libero odit alias earum, quas quasi.</p>
    <section>
        <h1>TITULO_V</h1>
        <ul>
            <li><a href="#"><img src="#" alt="Img1"></a></li>
            <li><a href="#"><img src="#" alt="Img2"></a></li>
            <li><a href="#"><img src="#" alt="Img3"></a></li>
        </ul>
    </section>

        
        

    <footer>
        <img src="#" alt="Logo">

        <h4>WEEBLY THEMES <br>
            PRE-SALE FAQS <br>
            SUBMIT A TICKET</h4>

        <h4>SERVICES <br>
            THEME TWEAK</h4>

        <h4>SHOWCASE <br>
            WIDGET KIT SUPPORT</h4>

        <h4>ABOUT US <br> 
            CONTACT US <br>
            AFFILIATES RESOURCES</h4>



        <img src="#" alt="Facebook">
        <img src="#" alt="Google">
        <img src="#" alt="X">
        <img src="#" alt="Puntos raros">
        <p>©Copyright All rights reserved.</p>
    </footer>
    
</body>
</html>