<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>R1</title>
    <link rel="stylesheet" href="assets/estilos/styles.css">
</head>
<body>
    <header>
        <h1>TITULO</h1>
        <nav>
            <ul>
                <li><a href="../tutorial/tutorial.html">Tutoriales</a></li>
                <li><a href="../articulos/articulos.html">Articulos</a></li>
                <li><a href="../c_exito/casos_de_exitos.html">Casos de exito</a></li>
                <li><a href="../../index.html">home</a></li>
            </ul>
        </nav>
    </header>
        <ul>
            <li>
                <a href="articulos.html">
                    <h4>Titulo</h4>
                    <button>Read more</button>
                </a>
            </li>
            <li>
                <a href="articulos.html">
                    <h4>Titulo</h4>
                    <button>Read more</button>
                </a>
            </li>
            <li>
                <a href="articulos.html">
                    <h4>Titulo</h4>
                    <button>Read more</button>
                </a>
            </li>
            <li>
                <a href="articulos.html">
                    <h4>Titulo</h4>
                    <button>Read more</button>
                </a>
            </li>
            <li>
                <a href="articulos.html">
                    <h4>Titulo</h4>
                    <button>Read more</button>
                </a>
            </li>
            <li>
                <a href="articulos.html">
                    <h4>Titulo</h4>
                    <button>Read more</button>
                </a>
            </li>
            <li>
                <a href="articulos.html">
                    <h4>Titulo</h4>
                    <button>Read more</button>
                </a>
            </li>
            <li>
                <a href="articulos.html">
                    <h4>Titulo</h4>
                    <button>Read more</button>
                </a>
            </li>
            <li>
                <a href="articulos.html">
                    <h4>Titulo</h4>
                    <button>Read more</button>
                </a>
            </li>
            <li>
                <a href="articulos.html">
                    <h4>Titulo</h4>
                    <button>Read more</button>
                </a>
            </li>
            <li>
                <a href="articulos.html">
                    <h4>Titulo</h4>
                    <button>Read more</button>
                </a>
            </li>
            <li>
                <a href="articulos.html">
                    <h4>Titulo</h4>
                    <button>Read more</button>
                </a>
            </li>
            <li>
                <a href="articulos.html">
                    <h4>Titulo</h4>
                    <button>Read more</button>
                </a>
            </li>
            <li>
                <a href="articulos.html">
                    <h4>Titulo</h4>
                    <button>Read more</button>
                </a>
            </li>
            <li>
                <a href="articulos.html">
                    <h4>Titulo</h4>
                    <button>Read more</button>
                </a>
            </li>
        </ul>
       
    <footer>
        <img src="#" alt="Logo">

        <h4>WEEBLY THEMES <br>
            PRE-SALE FAQS <br>
            SUBMIT A TICKET</h4>

        <h4>SERVICES <br>
            THEME TWEAK</h4>

        <h4>SHOWCASE <br>
            WIDGET KIT SUPPORT</h4>

        <h4>ABOUT US <br> 
            CONTACT US <br>
            AFFILIATES RESOURCES</h4>



        <img src="#" alt="Facebook">
        <img src="#" alt="Google">
        <img src="#" alt="X">
        <img src="#" alt="Puntos raros">
        <p>©Copyright All rights reserved.</p>
    </footer>
    
</body>
</html>