<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>R1</title>
    <link rel="stylesheet" href="assets/estilos/styles.css">
</head>
<body>
    <header>
        <h1>TITULO</h1>
        <nav>
            <ul>
                
                <li><a href="../tutorial/tutorial.html">Tutoriales</a></li>
                <li><a href="../articulos/articulos.html">Articulos</a></li>
                <li><a href="../c_exito/casos_de_exitos.html">Casos de exito</a></li>
                <li><a href="../../index.html">home</a></li>
            </ul>
        </nav>
    </header>
    <section>
        <h2>Casos de Exito</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, vero? Neque assumenda ad aliquam eius accusantium, 
            nulla placeat eaque itaque hic ea impedit qui nisi. Nihil officia recusandae dolores impedit eum deleniti ad! 
            Libero, quia. Ab voluptates dicta, tempore esse quam voluptate numquam aliquid tempora 
            exercitationem, totam, nobis quod molestiae!</p>
        <img src="#" alt="IMG">
        <img src="#" alt="IMG">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Veniam ut maiores repellat recusandae cumque quae odio autem fuga. Quaerat, optio.</p>
    </section>

</body>
</html>