<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>R1</title>
    <link rel="stylesheet" href="assets/estilos/styles.css">
</head>
<body>
    <header>
        <h1>TITULO</h1>
        <nav>
            <ul>
                
                <li><a href="../tutorial/tutorial.html">Tutoriales</a></li>
                <li><a href="../articulos/articulos_preview.html">Articulos</a></li>
                <li><a href="../c_exito/casos_pr.html">Casos de exito</a></li>
                <li><a href="../../index.html">home</a></li>
            </ul>
        </nav>
    </header>

        <ul>
            <li>
                <a href="casos_de_exitos.html">
                    <img src="#" alt="1">
                    <p>Casos de Exito</p>
                </a>
            </li>

            <li>
                <a href="casos_de_exitos.html">
                    <img src="#" alt="2">
                    <p>Casos de Exito</p>
                </a>
            </li>

            <li>
                <a href="casos_de_exitos.html">
                    <img src="#" alt="3">
                    <p>Casos de Exito</p>
                </a>
            </li>

            <li>
                <a href="casos_de_exitos.html">
                    <img src="#" alt="4">
                    <p>Casos de Exito</p>
                </a>
            </li>

            <li>
                <a href="casos_de_exitos.html">
                    <img src="#" alt="5">
                    <p>Casos de Exito</p>
                </a>
            </li>
            
        </ul>
        
        

   
    
</body>
</html>