<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>R1</title>
    <link rel="stylesheet" href="assets/estilos/styles.css">
</head>
<body>
    <header>
        <h1>TITULO</h1>
        <nav>
            <ul>
                
                <li><a href="tutorial.html">Tutoriales</a></li>
                <li><a href="../articulos/articulos_preview.html">Articulos</a></li>
                <li><a href="../c_exito/casos_pr.html">Casos de exito</a></li>
                <li><a href="../../index.html">home</a></li>
            </ul>
        </nav>
    </header>

    <h2>TITULO</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores corporis possimus voluptate ex veritatis
        rerum molestiae deleniti quam necessitatibus inventore. Maiores consequatur placeat doloribus, commodi voluptas
        nemo, impedit quidem quo dolor temporibus asperiores modi quae voluptate, eum dolores accusamus excepturi atque
        repudiandae. Ex vel ratione reiciendis deserunt doloremque nemo assumenda, accusamus eos laborum, corrupti ipsam
        quam reprehenderit est voluptas enim blanditiis quas? Illum aspernatur molestias nihil saepe! Dolores cumque earum
        officia nisi cum consectetur repudiandae rem perspiciatis aliquid harum minima maiores accusamus eligendi rerum non
        ducimus illum, corrupti dolorum adipisci nihil hic mollitia itaque consequatur ex! Excepturi repellat omnis dignissimos
         culpa ex assumenda nulla sit sunt a voluptate iste vel temporibus asperiores eius, vitae inventore, laudantium esse at
         hic quos. Labore debitis culpa, eum ut illo nesciunt illum voluptatum dolorum sapiente dignissimos. Qui vitae error repellat
         delectus accusantium. Consequatur molestias quaerat itaque voluptatibus quas similique rerum minus voluptatum blanditiis, iusto 
        voluptate magnam ut eos voluptas! Dolorem animi assumenda odio? Perspiciatis, similique, atque repellat fugiat perferendis quod 
        magnam quasi dolor dolore id quae omnis voluptas incidunt quisquam maxime tempora aut enim excepturi veritatis minus labore quam!
        Blanditiis quia consequuntur quae molestiae perspiciatis sequi quisquam libero, sunt laboriosam sed labore debitis nostrum.</p>

        <img src="#" alt="Img">
        <img src="#" alt="IMG">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat esse numquam, facere nostrum incidunt sint provident 
        nimi quos sequi deleniti perferendis voluptatibus commodi odio ipsa. Aut distinctio odio amet minus, architecto dolores
        mollitia, commodi sit, consequatur dignissimos eum neque! Culpa, aliquam. Autem magni porro at culpa animi officiis perferendis
        enim aut ipsam labore! Odio sapiente enim aut corporis. Beatae eligendi culpa quod, similique, non minima corporis vero illo numquam
        qui ducimus corrupti? Nisi, earum non nemo sint molestiae odio libero doloremque accusamus ducimus ea officia ullam recusandae perferendis
        quo possimus quam fuga, ab, harum iste repellendus enim laboriosam vel modi! Aspernatur libero commodi totam quo labore
        recusandae voluptatum deserunt voluptate quod! Doloribus harum voluptates rerum molestias veritatis
        ducimus at magnam doloremque ad vero excepturi optio, quo voluptate consequatur beatae, tempora sit?
        In ducimus blanditiis nisi voluptates ipsum,
        vitae eveniet quae vero dolorum impedit sed non, ea molestias! Mollitia, consectetur magnam.</p>

        <img src="#" alt="IMG">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde eum placeat illum vero? Odit ratione officia pariatur laudantium
            labore incidunt tempore sit unde eum aut totam esse in accusamus, odio alias obcaecati assumenda, ullam natus recusandae autem,
            sed at laboriosam tenetur sequi. Expedita, totam debitis! Id sunt qui error sint animi architecto repellendus praesentium facilis
            esse ullam itaque mollitia veniam fugiat nobis neque quibusdam autem perferendis, omnis nam nihil voluptatem alias quos. Ipsum,
            voluptate fugiat. Excepturi nam modi laboriosam soluta neque quia minus minima ab aliquid. Mollitia repellendus amet iste
            ipsa culpa officia impedit molestias inventore nam beatae, fuga dignissimos fugit. Voluptas temporibus laborum veritatis 
            oluptatum similique quisquam, fuga dignissimos doloremque in optio quidem exercitationem! Architecto dignissimos eos praesentium
            consectetur repellat blanditiis porro sapiente aperiam neque quas, quibusdam aliquid veritatis unde autem animi consequuntur quae
            incidunt culpa fugiat dolorum sunt assumenda doloremque a est. Inventore nam at pariatur? Iure eos, illo, dolore, earum rerum molestias
            eligendi repudiandae alias odio quaerat atque. Obcaecati officia animi explicabo mollitia maxime est incidunt vel, magnam necessitatibus 
            vo delectus harum nulla nisi ipsam dicta aperiam modi. Amet, corporis reprehenderit 
            tempora animi nesciunt ducimus dolorem dignissimos aliquam consectetur libero, modi tenetur. Cum, natus nisi ut sapiente, delectus 
            veniam culpa illo fugiat maxime doloremque molestias laudantium dolor ab iste quam blanditiis iusto error explicabo non fuga id. 
            Soluta aut ab, sequi, rem esse odit rerum porro consequuntur ex temporibus modi non iure delectus accusantium blanditiis eveniet. 
            Ea at rem dignissimos, numquam exercitationem esse autem voluptates facilis ducimus aspernatur ad et voluptatibus corrupti quisquam 
            amet veniam illo, sapiente eligendi hic incidunt unde harum voluptatum alias vel. Quis provident voluptates eius sunt distinctio 
            expedita ipsa. Aliquid dolor atque eum optio fuga maxime quos non ducimus vero numquam voluptas, vitae blanditiis odit nobis repellat 
            quae ipsum quia eligendi neque nihil amet cumque velit minima ullam. Omnis eaque enim sequi, alias in repellendus? Nisi eos et rerum 
            omnis quibusdam quisquam, amet natus iure debitis minima sed beatae, aperiam odio facilis ad, nemo modi distinctio. Nemo, architecto 
            iste? Qui iure possimus, velit libero facilis odio adipisci ut quia esse? F
             hic. Eligendi error autem nostrum dicta. Sint explicabo, dignissimos placeat,
            provident illum quasi saepe quod vel cum officiis unde facilis reprehenderit soluta maxime dolores laboriosam autem!</p>

            <img src="#" alt="123">
            
            
        

</body>
</html>